@import "tailwindcss";

:root {
    --dark: #1A1D1F;
    --dark2: #13181C;
    --mainBg: #111315;
    --secondaryLow: #9DA1A3;
    --white: #F7F9FA;
    --blue: #1C92E0FF;
    --lightBlue: #32ACFC;
    --green: #82CC27;
    --yellow: #E0B531;
    --red: #DC2D2D;
    --secondary: #9DA1A3;
    --divider: #3D4549;
    --langHover: #25282A;
    --bgMatte: rgba(12, 14, 15, 0.94);
    --border: rgba(247, 249, 250, 0.16);
    --borderStroke: rgba(247, 249, 250, 0.08);
    --blur: rgba(247, 249, 250, 0.1);
    --stroke: #232627;
    --bgBack: #30373B;
}

* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    user-select: none;
}

body {
    max-width: 1376px;
    min-height: 100vh;
    background: var(--mainBg);
    color: var(--white);
    font-family: Poppins, Inter, sans-serif;
    margin: 20px auto 0 auto;
}

main {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 100%;*/
}

.toolbar {
    display: flex;
    gap: 8px;

    button {
        padding: 8px 24px;
        width: max-content;
        background: teal;
        border-radius: 8px;
        border: 1px solid #04e4e4;

        :active {
            transform: scale(95%);
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

.header {
    @apply flex shrink-0 justify-between items-center h-19 bg-(--dark) mt-5 mx-2;
    @apply rounded-2xl p-5 border border-(--stroke) min-w-fit;
}

.breadCrumb {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px 30px;

    a {
        h1 {
            font-family: Poppins, sans-serif;
            font-weight: 500;
            color: #6D7274;
        }
    }
}

.pageHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 326px;
    height: 100px;
    background: var(--dark);
    gap: 12px;
    font-size: 32px;
    border-radius: 8px;
    border: 1px solid var(--stroke);
    overflow: hidden;
    margin-bottom: 24px;
}

.buttons {
    position: relative;
    width: 326px;
    height: 108px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid rgba(28, 146, 224, 0.16);

    *:hover {
        cursor: pointer;

    }

    image {
        position: absolute;
        top: 0;
        left: 0;
        width: fit-content;
    }

    p {
        position: absolute;
        top: 32px;
        left: 95px;

        display: flex;
        align-items: center;
        gap: 16px;

        font-size: 20px;
        font-weight: 600;
    }
}

.tabs {
    button {
        &:hover {
            cursor: pointer;
        }
    }
}